@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Delius&family=Kaushan+Script&family=Sue+Ellen+Francisco&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
li {
  @apply font-body;
}
h1,
h2 {
  @apply font-titre;
}
h3 {
  @apply font-sousTitre;
}

@keyframes rotate-phone {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-70deg);
  }
}

.animate-rotate-phone {
  animation: rotate-phone 3s ease-in-out infinite;
}
