@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Delius&family=Kaushan+Script&family=Sue+Ellen+Francisco&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
li {
  @apply font-body;
}
h1,
h2 {
  @apply font-titre;
}
h3 {
  @apply font-sousTitre;
}

@keyframes rotate-phone {
  0%,
  100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-70deg);
  }
}

.animate-rotate-phone {
  animation: rotate-phone 3s ease-in-out infinite;
}

@keyframes wind {
  0% {
    transform: translateX(0px) rotateZ(0deg);
  }
  50% {
    transform: translateX(0px) rotateZ(500deg);
  }
  100% {
    transform: translateX(0px) rotateZ(0deg);
  }
}

.wind-animation {
  animation: wind 5s cubic-bezier(0.83, -0.01, 0.17, 1) infinite;
  /* animation: wind 4s cubic-bezier(.65,-0.01,.27,1) infinite; */
  transform-origin: center;
}

.submenu-container {
  @apply invisible mt-2 opacity-0 transition-opacity delay-[0.3s] duration-[0.3s,visibility];
  /* Adjust the margin value to your preference */
}
.group:hover .submenu-container {
  @apply visible opacity-100;
}
